# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Environment
.env
venv/
.Python

# VSCode
.vscode/
.settings/

# OS Files
.DS_Store

# test files
ChartQA-main/

predictions/

summary_by_model.json

testing/

testes/

results/

prompts/image_classification.txt